### Confidence Interval - Difference In Means

Here you will look through the example from the last video, but you will also go a couple of steps further into what might actually be going on with this data.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
np.random.seed(42)

full_data = pd.read_csv('data/coffee_dataset.csv')
coffee_red = full_data.sample(200)

In [16]:
coffee_red.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 2402 to 1422
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        200 non-null    int64
 1   age            200 non-null    object
 2   drinks_coffee  200 non-null    bool
 3   height         200 non-null    float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 6.4+ KB

In [17]:
coffee_red.head()

      user_id   age  drinks_coffee     height
2402     2874   <21           True  64.357154
2864     3670  >=21           True  66.859636
2167     7441   <21          False  66.659561
507      2781  >=21           True  70.166241
1817     2875  >=21           True  71.369120

`1.` For 10,000 iterations, bootstrap sample your sample data, compute the difference in the average heights for coffee and non-coffee drinkers.  Build a 99% confidence interval using your sampling distribution.  Use your interval to start answering the first quiz question below.

In [7]:
height_mean_diff = []
for i in range(10000):
    coffee_sample = coffee_red.sample(n = 200, replace = True)
    drinkers = coffee_sample[coffee_sample.drinks_coffee == True].height.mean()
    non_drinkers = coffee_sample[coffee_sample.drinks_coffee == False].height.mean()
    height_mean_diff.append(drinkers - non_drinkers)

In [9]:
np.percentile(height_mean_diff, 0.5), np.percentile(height_mean_diff, 99.5)

(0.09027712929640067, 2.516490937129601)

`2.` For 10,000 iterations, bootstrap sample your sample data, compute the difference in the average heights for those older than 21 and those younger than 21.  Build a 99% confidence interval using your sampling distribution.  Use your interval to finish answering the first quiz question below.

In [26]:
age_mean_diff = []
for i in range(10000):
    coffee_sample = coffee_red.sample(n = 200, replace = True)
    older_21 = coffee_sample[coffee_sample.age == '>=21'].height.mean()
    younger_21 = coffee_sample[coffee_sample.age == '<21'].height.mean()
    age_mean_diff.append(older_21 - younger_21)

In [27]:
np.percentile(age_mean_diff, 0.5), np.percentile(age_mean_diff, 99.5)

(3.350274589725852, 5.109059900189764)

`3.` For 10,000 iterations bootstrap your sample data, compute the **difference** in the average height for coffee drinkers and the average height for non-coffee drinkers for individuals **under** 21 years old.  Using your sampling distribution, build a 95% confidence interval.  Use your interval to start answering question 2 below.

In [28]:
age_under21_diff = []
for i in range(10000):
    coffee_sample = coffee_red.sample(n = 200, replace = True)
    drinkers_under21 = coffee_sample.query("age == '<21' and drinks_coffee == True")['height'].mean()
    non_drinkers_under21 = coffee_sample.query("age == '<21' and drinks_coffee == False")['height'].mean()
    age_under21_diff.append(drinkers_under21 - non_drinkers_under21)

In [29]:
np.percentile(age_under21_diff, 2.5), np.percentile(age_under21_diff, 97.5)

(-2.610483186938215, -1.070972788751874)

`4.` For 10,000 iterations bootstrap your sample data, compute the **difference** in the average height for coffee drinkers and the average height for non-coffee drinkers for individuals **over** 21 years old.  Using your sampling distribution, build a 95% confidence interval. Use your interval to finish answering the second quiz question below. As well as the following questions.

In [30]:
age_over21_diff = []
for i in range(10000):
    coffee_sample = coffee_red.sample(n = 200, replace = True)
    drinkers_over21 = coffee_sample.query("age == '>=21' and drinks_coffee == True")['height'].mean()
    non_drinkers_over21 = coffee_sample.query("age == '>=21' and drinks_coffee == False")['height'].mean()
    age_over21_diff.append(drinkers_over21 - non_drinkers_over21)

In [31]:
np.percentile(age_over21_diff, 2.5), np.percentile(age_over21_diff, 97.5)

(-4.380145606917597, -1.811270185766448)

Within the under 21 and over 21 groups, we saw that on average non-coffee drinkers were taller. But, when combined, we saw that on average coffee drinkers were on average taller. This is again Simpson's paradox, and essentially there are more adults in the dataset who were coffee drinkers. So these individuals made it seem like coffee drinkers were on average taller - which is a misleading result.