# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd

data = pd.read_csv('admission_data.csv')

data.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [2]:
data.shape

(500, 4)

In [5]:
data.groupby(['gender', 'major', 'admitted']).count()

                           student_id
gender major     admitted
female Chemistry False            175
                 True              51
       Physics   False              8
                 True              23
male   Chemistry False             16
                 True               2
       Physics   False            109
                 True             116

### Proportion and admission rate for each gender

In [6]:
# Proportion of students that are female
females = data[data.gender == 'female']
len(females) / data.shape[0]

0.514

In [7]:
# Proportion of students that are male
males = data[data.gender == 'male']
len(males) / data.shape[0]

0.486

In [8]:
# Admission rate for females
admission_females = females[females.admitted]
len(admission_females) / len(females)

0.28793774319066145

In [9]:
# Admission rate for males
admission_males = males[males.admitted]
len(admission_males) / len(males)

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [10]:
# What proportion of female students are majoring in physics?
physics = data[data.major == 'Physics']
female_physics = physics[physics.gender == 'female']
len(female_physics) / len(females)

0.12062256809338522

In [11]:
# What proportion of male students are majoring in physics?
male_physics = physics[physics.gender == 'male']
len(male_physics) / len(males)

0.9259259259259259

In [12]:
# Admission rate for female physics majors
physics_females_admitted = female_physics[female_physics.admitted]
len(physics_females_admitted) / len(female_physics)

0.7419354838709677

In [13]:
# Admission rate for male physics majors
physics_males_admitted = male_physics[male_physics.admitted]
len(physics_males_admitted) / len(male_physics)

0.5155555555555555

### Proportion and admission rate for chemistry majors of each gender

In [14]:
# What proportion of female students are majoring in chemistry?
chemistry = data[data.major == 'Chemistry']
female_chemistry = chemistry[chemistry.gender == 'female']
len(female_chemistry) / len(females)

0.8793774319066148

In [15]:
# What proportion of male students are majoring in chemistry?
male_chemistry = chemistry[chemistry.gender == 'male']
len(male_chemistry) / len(males)

0.07407407407407407

In [16]:
# Admission rate for female chemistry majors
chemistry_females_admitted = female_chemistry[female_chemistry.admitted]
len(chemistry_females_admitted) / len(female_chemistry)

0.22566371681415928

In [ ]:
# Admission rate for male chemistry majors
chemistry_males_admitted = male_chemistry[male_chemistry.admitted]
len(chemistry_males_admitted) / len(male_chemistry)

### Admission rate for each major

In [18]:
# Admission rate for physics majors
physics_admitted = physics[physics.admitted]
len(physics_admitted) / len(physics)

0.54296875

In [19]:
# Admission rate for chemistry majors
chemistry_admitted = chemistry[chemistry.admitted]
len(chemistry_admitted) / len(chemistry)

0.21721311475409835